@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes pulsate {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.animated-background {
    position: relative;
    animation: pulsate 5s linear infinite;
    background: linear-gradient(to right, #3c394a, #141220);
    background-size: 200% 200%;
}

.animated-background-to-left {
    position: relative;
    animation: pulsate 5s linear infinite;
    background: linear-gradient(to left, #3c394a, #141220);
    background-size: 200% 200%;
}

.bg-custom-secondary {
    background: #161313f3;
}

.bg-custom {
    background: #000000;
}